{% if filebeat_prospectors is defined %}
filebeat:
  prospectors:
    {{ filebeat_prospectors | to_nice_yaml | indent(4) }}
{%endif%}

output:
{% if filebeat_logstash_enabled %}
  logstash:
    enabled: {{ filebeat_logstash_enabled }}

    index: {{ filebeat_logstash_index }}

    hosts:
      {{ filebeat_logstash_hosts | to_nice_yaml | indent(6) }}
{%endif%}
